In [1]:
import pandas as pd
import numpy as np

In [4]:
heart = pd.read_csv('heart.csv')

In [5]:
heart.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [6]:
heart.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [7]:
heart.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
age         303 non-null int64
sex         303 non-null int64
cp          303 non-null int64
trestbps    303 non-null int64
chol        303 non-null int64
fbs         303 non-null int64
restecg     303 non-null int64
thalach     303 non-null int64
exang       303 non-null int64
oldpeak     303 non-null float64
slope       303 non-null int64
ca          303 non-null int64
thal        303 non-null int64
target      303 non-null int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [8]:
import seaborn as sns
import matplotlib.pyplot as plt

In [9]:
X = heart.drop('target', axis = 'columns')
y = heart.target

In [10]:
len(X), len(y)

(303, 303)

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
len(X_train), len(X_test), len(y_train), len(y_test)

(242, 61, 242, 61)

In [12]:
#USING DECISION TREE CLASSIFIER

In [ ]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()
model.fit(X_train, y_train)
predict_y = model.predict(X_test)

In [ ]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score, recall_score, f1_score,confusion_matrix
from sklearn.metrics import matthews_corrcoef
from sklearn.metrics import roc_auc_score
print("Decision Tree Classifier Model Score is:", accuracy_score(y_test, predict_y))
print("Confusion Matrix is:", confusion_matrix(y_test, predict_y))
print("Precision Score is:", precision_score(y_test, predict_y))

In [ ]:
#USING NAIVE_BAYES CLASSIFIER MODEL

In [ ]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()
model.fit(X_train, y_train)
predict_N = model.predict(X_test)

In [ ]:
print("Naïve Bayes Classifier Model Score is:", accuracy_score(y_test, predict_N))
print("Confusion Matrix is:", confusion_matrix(y_test, predict_N))
print("Precision Score is:", precision_score(y_test, predict_N))

In [ ]:
#USING RANDOM FOREST CLASSIFIER

In [24]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier()
model.fit(X_train, y_train)
predict_R = model.predict(X_test)

/home/user/.local/lib/python3.7/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [26]:
print("Random Forest Classifier Model Score is:", accuracy_score(y_test, predict_R))
print("Confusion Matrix is:", confusion_matrix(y_test, predict_R))
print("Precision Score is:", precision_score(y_test, predict_R))

Random Forest Classifier Model Score is: 0.8360655737704918
Confusion Matrix is: [[23  6]
 [ 4 28]]
Precision Score is: 0.8235294117647058

In [27]:
#MODEL ACCURACY OF ALL CLASSIFIER MODELS

In [29]:
print("Decision Tree Classifier Model Score is:", accuracy_score(y_test, predict_y))
print("Random Forest Classifier Model Score is:", accuracy_score(y_test, predict_R))
print("Naïve Bayes Classifier Model Score is:", accuracy_score(y_test, predict_N))

Decision Tree Classifier Model Score is: 0.819672131147541
Random Forest Classifier Model Score is: 0.8360655737704918
Naïve Bayes Classifier Model Score is: 0.8032786885245902