In [1]:
import pandas as pd
df=pd.read_csv("weather.csv")
df

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251,15.8263,0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259,15.8263,0,1015.63,Partly cloudy throughout the day.
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204,14.9569,0,1015.94,Partly cloudy throughout the day.
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269,15.8263,0,1016.41,Partly cloudy throughout the day.
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259,15.8263,0,1016.51,Partly cloudy throughout the day.
5,2006-04-01 05:00:00.000 +0200,Partly Cloudy,rain,9.222222,7.111111,0.85,13.9587,258,14.9569,0,1016.66,Partly cloudy throughout the day.
6,2006-04-01 06:00:00.000 +0200,Partly Cloudy,rain,7.733333,5.522222,0.95,12.3648,259,9.9820,0,1016.72,Partly cloudy throughout the day.
7,2006-04-01 07:00:00.000 +0200,Partly Cloudy,rain,8.772222,6.527778,0.89,14.1519,260,9.9820,0,1016.84,Partly cloudy throughout the day.
8,2006-04-01 08:00:00.000 +0200,Partly Cloudy,rain,10.822222,10.822222,0.82,11.3183,259,9.9820,0,1017.37,Partly cloudy throughout the day.
9,2006-04-01 09:00:00.000 +0200,Partly Cloudy,rain,13.772222,13.772222,0.72,12.5258,279,9.9820,0,1017.22,Partly cloudy throughout the day.
10,2006-04-01 10:00:00.000 +0200,Partly Cloudy,rain,16.016667,16.016667,0.67,17.5651,290,11.2056,0,1017.42,Partly cloudy throughout the day.
11,2006-04-01 11:00:00.000 +0200,Partly Cloudy,rain,17.144444,17.144444,0.54,19.7869,316,11.4471,0,1017.74,Partly cloudy throughout the day.
12,2006-04-01 12:00:00.000 +0200,Partly Cloudy,rain,17.800000,17.800000,0.55,21.9443,281,11.2700,0,1017.59,Partly cloudy throughout the day.
13,2006-04-01 13:00:00.000 +0200,Partly Cloudy,rain,17.333333,17.333333,0.51,20.6885,289,11.2700,0,1017.48,Partly cloudy throughout the day.
14,2006-04-01 14:00:00.000 +0200,Partly Cloudy,rain,18.877778,18.877778,0.47,15.3755,262,11.4471,0,1017.17,Partly cloudy throughout the day.
15,2006-04-01 15:00:00.000 +0200,Partly Cloudy,rain,18.911111,18.911111,0.46,10.4006,288,11.2700,0,1016.47,Partly cloudy throughout the day.
16,2006-04-01 16:00:00.000 +0200,Partly Cloudy,rain,15.388889,15.388889,0.60,14.4095,251,11.2700,0,1016.15,Partly cloudy throughout the day.
17,2006-04-01 17:00:00.000 +0200,Mostly Cloudy,rain,15.550000,15.550000,0.63,11.1573,230,11.4471,0,1016.17,Partly cloudy throughout the day.
18,2006-04-01 18:00:00.000 +0200,Mostly Cloudy,rain,14.255556,14.255556,0.69,8.5169,163,11.2056,0,1015.82,Partly cloudy throughout the day.
19,2006-04-01 19:00:00.000 +0200,Mostly Cloudy,rain,13.144444,13.144444,0.70,7.6314,139,11.2056,0,1015.83,Partly cloudy throughout the day.
20,2006-04-01 20:00:00.000 +0200,Mostly Cloudy,rain,11.550000,11.550000,0.77,7.3899,147,11.0285,0,1015.85,Partly cloudy throughout the day.
21,2006-04-01 21:00:00.000 +0200,Mostly Cloudy,rain,11.183333,11.183333,0.76,4.9266,160,9.9820,0,1015.77,Partly cloudy throughout the day.
22,2006-04-01 22:00:00.000 +0200,Partly Cloudy,rain,10.116667,10.116667,0.79,6.6493,163,15.8263,0,1015.40,Partly cloudy throughout the day.
23,2006-04-01 23:00:00.000 +0200,Mostly Cloudy,rain,10.200000,10.200000,0.77,3.9284,152,14.9569,0,1015.51,Partly cloudy throughout the day.
24,2006-04-10 00:00:00.000 +0200,Partly Cloudy,rain,10.422222,10.422222,0.62,16.9855,150,15.8263,0,1014.40,Mostly cloudy throughout the day.
25,2006-04-10 01:00:00.000 +0200,Partly Cloudy,rain,9.911111,7.566667,0.66,17.2109,149,15.8263,0,1014.20,Mostly cloudy throughout the day.
26,2006-04-10 02:00:00.000 +0200,Mostly Cloudy,rain,11.183333,11.183333,0.80,10.8192,163,14.9569,0,1008.71,Mostly cloudy throughout the day.
27,2006-04-10 03:00:00.000 +0200,Partly Cloudy,rain,7.155556,5.044444,0.79,11.0768,180,15.8263,0,1014.47,Mostly cloudy throughout the day.
28,2006-04-10 04:00:00.000 +0200,Partly Cloudy,rain,6.111111,4.816667,0.82,6.6493,161,15.8263,0,1014.45,Mostly cloudy throughout the day.
29,2006-04-10 05:00:00.000 +0200,Partly Cloudy,rain,6.788889,4.272222,0.83,13.0088,135,14.9569,0,1014.49,Mostly cloudy throughout the day.
...,...,...,...,...,...,...,...,...,...,...,...,...
96423,2016-09-08 18:00:00.000 +0200,Partly Cloudy,rain,27.800000,27.050000,0.32,3.0751,120,16.1000,0,1014.04,Partly cloudy starting overnight.
96424,2016-09-08 19:00:00.000 +0200,Partly Cloudy,rain,24.905556,24.905556,0.51,0.0000,0,16.1000,0,1014.14,Partly cloudy starting overnight.
96425,2016-09-08 20:00:00.000 +0200,Partly Cloudy,rain,22.366667,22.366667,0.58,3.3327,135,15.5526,0,1014.34,Partly cloudy starting overnight.
96426,2016-09-08 21:00:00.000 +0200,Mostly Cloudy,rain,21.016667,21.016667,0.64,3.2200,340,16.1000,0,1014.73,Partly cloudy starting overnight.
96427,2016-09-08 22:00:00.000 +0200,Partly Cloudy,rain,19.927778,19.927778,0.71,3.1556,302,16.1000,0,1014.63,Partly cloudy starting overnight.
96428,2016-09-08 23:00:00.000 +0200,Partly Cloudy,rain,18.350000,18.350000,0.77,3.2200,53,15.5526,0,1014.68,Partly cloudy starting overnight.
96429,2016-09-09 00:00:00.000 +0200,Partly Cloudy,rain,17.755556,17.755556,0.81,2.9624,12,16.1000,0,1014.65,Partly cloudy starting in the morning.
96430,2016-09-09 01:00:00.000 +0200,Clear,rain,16.622222,16.622222,0.87,3.4293,349,16.1000,0,1014.56,Partly cloudy starting in the morning.
96431,2016-09-09 02:00:00.000 +0200,Clear,rain,16.144444,16.144444,0.87,3.6547,16,15.1501,0,1014.69,Partly cloudy starting in the morning.
96432,2016-09-09 03:00:00.000 +0200,Clear,rain,15.594444,15.594444,0.87,3.2844,41,15.4399,0,1014.52,Partly cloudy starting in the morning.
96433,2016-09-09 04:00:00.000 +0200,Clear,rain,15.011111,15.011111,0.93,3.2039,341,15.8263,0,1014.37,Partly cloudy starting in the morning.
96434,2016-09-09 05:00:00.000 +0200,Clear,rain,15.016667,15.016667,0.90,2.7048,359,14.9569,0,1014.55,Partly cloudy starting in the morning.
96435,2016-09-09 06:00:00.000 +0200,Clear,rain,13.872222,13.872222,0.93,4.7495,0,15.8263,0,1014.66,Partly cloudy starting in the morning.
96436,2016-09-09 07:00:00.000 +0200,Clear,rain,16.072222,16.072222,0.88,2.7853,12,15.7297,0,1015.25,Partly cloudy starting in the morning.
96437,2016-09-09 08:00:00.000 +0200,Partly Cloudy,rain,19.561111,19.561111,0.75,3.7191,12,14.9569,0,1015.28,Partly cloudy starting in the morning.
96438,2016-09-09 09:00:00.000 +0200,Partly Cloudy,rain,22.138889,22.138889,0.65,7.7763,30,16.1000,0,1015.46,Partly cloudy starting in the morning.
96439,2016-09-09 10:00:00.000 +0200,Partly Cloudy,rain,22.872222,22.872222,0.59,6.4239,49,16.1000,0,1015.65,Partly cloudy starting in the morning.
96440,2016-09-09 11:00:00.000 +0200,Partly Cloudy,rain,27.072222,27.022222,0.42,12.0106,49,15.5526,0,1015.44,Partly cloudy starting in the morning.
96441,2016-09-09 12:00:00.000 +0200,Partly Cloudy,rain,28.866667,28.216667,0.37,13.9265,61,16.1000,0,1015.35,Partly cloudy starting in the morning.
96442,2016-09-09 13:00:00.000 +0200,Partly Cloudy,rain,30.994444,29.972222,0.33,15.6170,70,16.1000,0,1014.86,Partly cloudy starting in the morning.
96443,2016-09-09 14:00:00.000 +0200,Partly Cloudy,rain,30.894444,29.450000,0.28,14.7798,43,15.5526,0,1014.66,Partly cloudy starting in the morning.
96444,2016-09-09 15:00:00.000 +0200,Partly Cloudy,rain,31.083333,29.616667,0.28,15.5043,40,16.1000,0,1014.17,Partly cloudy starting in the morning.
96445,2016-09-09 16:00:00.000 +0200,Partly Cloudy,rain,31.083333,29.611111,0.28,13.8943,40,16.1000,0,1013.97,Partly cloudy starting in the morning.
96446,2016-09-09 17:00:00.000 +0200,Partly Cloudy,rain,30.766667,29.311111,0.28,14.2163,24,15.5526,0,1013.83,Partly cloudy starting in the morning.
96447,2016-09-09 18:00:00.000 +0200,Partly Cloudy,rain,28.838889,27.850000,0.32,12.2038,21,16.1000,0,1014.07,Partly cloudy starting in the morning.
96448,2016-09-09 19:00:00.000 +0200,Partly Cloudy,rain,26.016667,26.016667,0.43,10.9963,31,16.1000,0,1014.36,Partly cloudy starting in the morning.
96449,2016-09-09 20:00:00.000 +0200,Partly Cloudy,rain,24.583333,24.583333,0.48,10.0947,20,15.5526,0,1015.16,Partly cloudy starting in the morning.
96450,2016-09-09 21:00:00.000 +0200,Partly Cloudy,rain,22.038889,22.038889,0.56,8.9838,30,16.1000,0,1015.66,Partly cloudy starting in the morning.
96451,2016-09-09 22:00:00.000 +0200,Partly Cloudy,rain,21.522222,21.522222,0.60,10.5294,20,16.1000,0,1015.95,Partly cloudy starting in the morning.
96452,2016-09-09 23:00:00.000 +0200,Partly Cloudy,rain,20.438889,20.438889,0.61,5.8765,39,15.5204,0,1016.16,Partly cloudy starting in the morning.

In [2]:
df['Humidity'].min()

0.0

In [3]:
df['Humidity'].max()

1.0

In [4]:
df.head(7)

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251,15.8263,0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259,15.8263,0,1015.63,Partly cloudy throughout the day.
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204,14.9569,0,1015.94,Partly cloudy throughout the day.
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269,15.8263,0,1016.41,Partly cloudy throughout the day.
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259,15.8263,0,1016.51,Partly cloudy throughout the day.
5,2006-04-01 05:00:00.000 +0200,Partly Cloudy,rain,9.222222,7.111111,0.85,13.9587,258,14.9569,0,1016.66,Partly cloudy throughout the day.
6,2006-04-01 06:00:00.000 +0200,Partly Cloudy,rain,7.733333,5.522222,0.95,12.3648,259,9.9820,0,1016.72,Partly cloudy throughout the day.

In [5]:
df.tail(7)

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
96446,2016-09-09 17:00:00.000 +0200,Partly Cloudy,rain,30.766667,29.311111,0.28,14.2163,24,15.5526,0,1013.83,Partly cloudy starting in the morning.
96447,2016-09-09 18:00:00.000 +0200,Partly Cloudy,rain,28.838889,27.850000,0.32,12.2038,21,16.1000,0,1014.07,Partly cloudy starting in the morning.
96448,2016-09-09 19:00:00.000 +0200,Partly Cloudy,rain,26.016667,26.016667,0.43,10.9963,31,16.1000,0,1014.36,Partly cloudy starting in the morning.
96449,2016-09-09 20:00:00.000 +0200,Partly Cloudy,rain,24.583333,24.583333,0.48,10.0947,20,15.5526,0,1015.16,Partly cloudy starting in the morning.
96450,2016-09-09 21:00:00.000 +0200,Partly Cloudy,rain,22.038889,22.038889,0.56,8.9838,30,16.1000,0,1015.66,Partly cloudy starting in the morning.
96451,2016-09-09 22:00:00.000 +0200,Partly Cloudy,rain,21.522222,21.522222,0.60,10.5294,20,16.1000,0,1015.95,Partly cloudy starting in the morning.
96452,2016-09-09 23:00:00.000 +0200,Partly Cloudy,rain,20.438889,20.438889,0.61,5.8765,39,15.5204,0,1016.16,Partly cloudy starting in the morning.

In [6]:
print("Specific Coloumn\n")
df['Summary'].head(3)

Specific Coloumn

0    Partly Cloudy
1    Partly Cloudy
2    Mostly Cloudy
Name: Summary, dtype: object

In [7]:
df['Formatted Date'][df['Humidity']==0.85]

5        2006-04-01 05:00:00.000 +0200
30       2006-04-10 06:00:00.000 +0200
120      2006-04-14 00:00:00.000 +0200
215      2006-04-17 23:00:00.000 +0200
244      2006-04-19 04:00:00.000 +0200
246      2006-04-19 06:00:00.000 +0200
247      2006-04-19 07:00:00.000 +0200
634      2006-04-06 10:00:00.000 +0200
673      2006-04-08 01:00:00.000 +0200
675      2006-04-08 03:00:00.000 +0200
767      2006-08-10 23:00:00.000 +0200
825      2006-08-13 09:00:00.000 +0200
872      2006-08-15 08:00:00.000 +0200
914      2006-08-17 02:00:00.000 +0200
983      2006-08-19 23:00:00.000 +0200
985      2006-08-02 01:00:00.000 +0200
1010     2006-08-20 02:00:00.000 +0200
1176     2006-08-27 00:00:00.000 +0200
1295     2006-08-30 23:00:00.000 +0200
1301     2006-08-31 05:00:00.000 +0200
1504     2006-12-10 16:00:00.000 +0100
1505     2006-12-10 17:00:00.000 +0100
1706     2006-12-19 02:00:00.000 +0100
1712     2006-12-19 08:00:00.000 +0100
1745     2006-12-02 17:00:00.000 +0100
1754     2006-12-20 02:00:00.000 +0100
1787     2006-12-21 11:00:00.000 +0100
1793     2006-12-21 17:00:00.000 +0100
1794     2006-12-21 18:00:00.000 +0100
1796     2006-12-21 20:00:00.000 +0100
                     ...
95283    2016-10-20 07:00:00.000 +0200
95310    2016-10-21 10:00:00.000 +0200
95311    2016-10-21 11:00:00.000 +0200
95393    2016-10-24 21:00:00.000 +0200
95394    2016-10-24 22:00:00.000 +0200
95395    2016-10-24 23:00:00.000 +0200
95396    2016-10-25 00:00:00.000 +0200
95397    2016-10-25 01:00:00.000 +0200
95405    2016-10-25 09:00:00.000 +0200
95449    2016-10-27 05:00:00.000 +0200
95450    2016-10-27 06:00:00.000 +0200
95452    2016-10-27 08:00:00.000 +0200
95473    2016-10-28 05:00:00.000 +0200
95565    2016-10-31 00:00:00.000 +0100
95584    2016-10-31 19:00:00.000 +0100
95591    2016-10-04 02:00:00.000 +0200
95648    2016-10-06 11:00:00.000 +0200
95674    2016-10-07 13:00:00.000 +0200
95729    2016-10-09 20:00:00.000 +0200
95833    2016-09-13 04:00:00.000 +0200
95874    2016-09-14 21:00:00.000 +0200
95900    2016-09-15 23:00:00.000 +0200
95909    2016-09-16 08:00:00.000 +0200
95925    2016-09-17 00:00:00.000 +0200
95948    2016-09-17 23:00:00.000 +0200
95988    2016-09-19 15:00:00.000 +0200
96067    2016-09-21 22:00:00.000 +0200
96068    2016-09-21 23:00:00.000 +0200
96311    2016-09-04 02:00:00.000 +0200
96412    2016-09-08 07:00:00.000 +0200
Name: Formatted Date, dtype: object

In [8]:
df['Humidity'].mean()

0.7348989663358906

In [9]:
df.describe()

,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars)
count,96453.000000,96453.000000,96453.000000,96453.000000,96453.000000,96453.000000,96453.0,96453.000000
mean,11.932678,10.855029,0.734899,10.810640,187.509232,10.347325,0.0,1003.235956
std,9.551546,10.696847,0.195473,6.913571,107.383428,4.192123,0.0,116.969906
min,-21.822222,-27.716667,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
25%,4.688889,2.311111,0.600000,5.828200,116.000000,8.339800,0.0,1011.900000
50%,12.000000,12.000000,0.780000,9.965900,180.000000,10.046400,0.0,1016.450000
75%,18.838889,18.838889,0.890000,14.135800,290.000000,14.812000,0.0,1021.090000
max,39.905556,39.344444,1.000000,63.852600,359.000000,16.100000,0.0,1046.380000

In [11]:

empoyees = [('jack', 34, 'Sydney', 155),
            ('Riti', 31, 'Delhi', 177.5),
            ('Aadi', 16, 'Mumbai', 81),
            ('Mohit', 31, 'Delhi', 167),
            ('Veena', 12, 'Delhi', 144),
            ('Shaunak', 35, 'Mumbai', 135),
            ('Shaun', 35, 'Colombo', 111)
            ]
# Create a DataFrame object
empdf = pd.DataFrame(empoyees, columns=['Name', 'Age', 'City', 'Marks'])
print(empdf)

      Name  Age     City  Marks
0     jack   34   Sydney  155.0
1     Riti   31    Delhi  177.5
2     Aadi   16   Mumbai   81.0
3    Mohit   31    Delhi  167.0
4    Veena   12    Delhi  144.0
5  Shaunak   35   Mumbai  135.0
6    Shaun   35  Colombo  111.0

In [12]:
dataType = empdf.dtypes
print('Data type of each column of Dataframe :')
print(dataType)

Data type of each column of Dataframe :
Name      object
Age        int64
City      object
Marks    float64
dtype: object

In [13]:
# Get a Series object containing the data type objects of each column of Dataframe.
# Index of series is column name.
dataType = empdf.dtypes
print('Data type of each column of Dataframe :')
print(dataType)

Data type of each column of Dataframe :
Name      object
Age        int64
City      object
Marks    float64
dtype: object

In [14]:
# get data type of column 'Age'
dataTypeObj = empdf.dtypes['Age']
print('Data type of each column Age in the Dataframe :')
print(dataTypeObj)

Data type of each column Age in the Dataframe :
int64

In [15]:
import numpy as np
# List of Tuples
empoyees = [('jack', 34, 'Sydney', 5) ,
         ('Riti', 31, 'Delhi' , 7) ,
         ('Aadi', 16, np.NaN, 11) ,
         (np.NaN, np.NaN,'Delhi' , np.NaN) ,
         ('Veena', 33, 'Delhi' , 4) ,
         ('Shaunak', 35, 'Mumbai', 5 ),
         ('Sam', 35, 'Colombo', 11),
         (np.NaN, np.NaN, np.NaN, np.NaN)
          ]
# Create a DataFrame object
empDfObj = pd.DataFrame(empoyees, columns=['Name', 'Age', 'City', 'Experience'])

In [16]:
empDfObj

      Name   Age     City  Experience
0     jack  34.0   Sydney         5.0
1     Riti  31.0    Delhi         7.0
2     Aadi  16.0      NaN        11.0
3      NaN   NaN    Delhi         NaN
4    Veena  33.0    Delhi         4.0
5  Shaunak  35.0   Mumbai         5.0
6      Sam  35.0  Colombo        11.0
7      NaN   NaN      NaN         NaN

In [17]:
empDfObj["City"].fillna("Nagpur", inplace = True) 
empDfObj

      Name   Age     City  Experience
0     jack  34.0   Sydney         5.0
1     Riti  31.0    Delhi         7.0
2     Aadi  16.0   Nagpur        11.0
3      NaN   NaN    Delhi         NaN
4    Veena  33.0    Delhi         4.0
5  Shaunak  35.0   Mumbai         5.0
6      Sam  35.0  Colombo        11.0
7      NaN   NaN   Nagpur         NaN

In [18]:
empDfObj.describe()

             Age  Experience
count   6.000000    6.000000
mean   30.666667    7.166667
std     7.339391    3.125167
min    16.000000    4.000000
25%    31.500000    5.000000
50%    33.500000    6.000000
75%    34.750000   10.000000
max    35.000000   11.000000